body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  margin: 10px auto;
}

h2 {
  width: 80%;
  text-align: center;
  margin: 50px auto 20px;
}

.prop-listing-form,
.App-searchbar {
  width: 90%;
  margin: 0 auto;
}

.prop-listing-form-ques,
.property-listing-search {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px 0;
}

.prop-listing-form-ques label,
.property-listing-search label {
  padding: 10px 10px 10px 0;
  /* padding-left: 0; */
}

.prop-listing-form-ques input,
.property-listing-search input {
  padding: 10px;
  border: 1px solid #bebebe;
}

.submit-buttons {
  display: block;
  border: none;
  padding: 1rem 2rem;
  margin: 20px auto;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.searched-listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.all-listings {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

@media screen and (min-width: 769px) {
  .prop-listing-form,
  .App-searchbar {
    width: 40%;
    margin: 0 auto;
  }
  .all-listings {
    width: 60%;
  }
}
